body{
  background: #0B090A;
}
main{
  background: #A4161A;
}
footer{
  background-color: #000;
}
ul{
  list-style: none;
}
.color_primary{
  color: #BA181B
}
.color_black{
  color: #0B090A;
}
.color_wt{
  color: #F5F3F4;
}
.card_movie{
  max-width: 350px;
  max-height: 404px;
}

.card_movie_img{
  border: #0B090A 3px solid;
  border-radius: 1em;
}
.card_movie_img:hover{
  box-shadow: 0px 0px 15px 1px #0B090A;
}

