body{
  background: #0B090A;
}
main{
  background: #A4161A;
}
footer{
  background-color: #000;
}
ul{
  list-style: none;
}

.bg-red{
  background: #BA181B;
}
.bg-black{
  background: #0B090A;
}

.color_primary{
  color: #BA181B;
}
.color_black{
  color: #0B090A;
}
.color_wt{
  color: #F5F3F4;
}



